<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style>
      /* Style for the outer container */
      .outer-container {
        width: 100vw; /* Occupies the whole screen width */
        height: 100vh; /* Occupies the whole screen height */
        display: flex;
        justify-content: center; /* Centers the inner container horizontally */
        align-items: center; /* Centers the inner container vertically */
        background-color: #252525; /* Background color for the outer container */
      }

      /* Style for the inner container (chess board) */
      .inner-container {
        width: 320px; /* Width of the chess board */
        height: 320px; /* Height of the chess board */
        background-color: #e71010; /* Background color for the inner container (chess board) */
        border: 2px solid #000; /* Border around the chess board */
      }
      .light{
        background-color: rgb(236, 230, 230);
      }
      .dark{
        background-color: rgb(33, 32, 32);
      }
    </style>
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container chessboard">
        <!-- You can add your chess board content here -->
      </div>
    </div>

    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="js/chessgame.js"></script>
  </body>
</html>
